
input, select, textarea {
    display: block;
    font-size: 1.2rem;
    color: var(--primary);
   
    
  }
  label{
    display: block;
    font-size: 1.2rem;
    color: var(--primary);
    font-weight: bold;
  }
  input , select, textarea {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 40%;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;

    
  }
  form button {
    background: var(--primary);
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }

  h3{
    
    font-weight: bold;
    color: var(--primary);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .containerForm{
     margin-left: 410px;
    /*margin-top: 50px;
    margin-bottom: 30px;
    display: flex; */
    border: 1px solid #000000;
    border-radius: 15px;
   align-items: center;
   width: 450px;
}