.containerHome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.button-containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}